{% block footer %}

<div class="social-menu footer-1  social-menu text-light">
  
  <li class="ttl">Tech Razer</li>
    <ul>
      <li><a href="https://www.facebook.com/harshil.sarariya/" target="_blank"><i class="fa fa-facebook"></i></a></li>
      <li><a href="https://twitter.com/SarariyaHarshil" target="_blank"><i class="fa fa-twitter"></i></a></li>
      <li><a href="https://www.instagram.com/harshilsarariya_2626/" target="_blank"><i class="fa fa-instagram"></i></a></li>
      <li><a href="" target="_blank"><i class="fa fa-youtube"></i></a></li>
      <li><a href="" target="_blank"><i class="fa fa-linkedin"></i></a></li>
    </ul>
  </div>
  <div class="footer-2 ">
      <ul class="nav justify-content-end text-light">
        <li class="nav-item1">
          © 2020-2021 TechRazer.com
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="/disclaimer">Disclaimer</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/privacy">Privacy Policy</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/termandconditions">Terms and conditions</a>
        </li>
      </ul>
    </div>
    
    {% endblock footer %}