/* navbar */
.navbar{
  font-size: 18px;
}
.button-search {
  background-image: linear-gradient(90deg,#ff8a00,#e52e71);
  border: 2px solid #ff8a00;
}

.button-login{
  border: 2px solid #94b7a3;
  background-image: linear-gradient(180deg,#7bd7b1,#dc9946);
  border-radius: 8px;
  margin: 1px 0px 1px 15px;
} 
.button-signup{
  border: 2px solid #94b7a3;  
  background-image: linear-gradient(180deg,#7bd7b1,#dc9946);
  border-radius: 8px;
  margin: 1px 5px 1px 5px;
}

.title {
    margin-bottom: 2rem;
}
.welcome-js {

  color: #f05442;
  font-size: 35px;
}
.type-js{
  margin-top: 20px;
  margin-bottom: 20px;
}
.desc{
  font-size: 20px;

}


.goblog{
    margin: 40px;
}


a:hover {
  color: #da2f2f;
}
.cattitle{
  color: #e22d2d;
}

/* search */

.query{
  min-height: 39rem;
}



/* bloghome */
.media{
  margin: 0px 0 30px 0;
  border: 2px solid;
  border-radius: 5px;
  border-style: outset;
}

.bloghomeimg {
  height: 180px!important;
  width: 300px!important;
  }
  @media only screen and (max-width: 500px) {
    .bloghomeimg{ 
      width: 88vw!important;
      height: 28vh!important;
    }

  }
  
  #desc {
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    cursor: pointer;
  }
  #title {
    font-family: 'Noto Sans KR', sans-serif;
    text-decoration: none;
    cursor: pointer;
    color: black;
  }

 @media only screen and (max-width: 800px) {
  .media {
    display: block;

  }
}

 @media only screen and (max-width: 600px) {
  div p img{
    width: 91vw!important;
    height: 28vh!important;
  }
  /* div div div div div img{
    width: 91vw!important;
    height: 55vh!important;
  } */
}
/* blogpost */

.post-content{
  padding: 100px 50px 50px 50px;

}
p{
  font-family: 'Baloo Paaji 2', cursive;
  font-size: 20px;
}
.article-content {
  justify-content: center;
  overflow-wrap: break-word;
  margin: 0 0 1.5rem;
  border-radius: 8px;
}

.blog-post-design{
  border-radius: 10px;
  z-index: -2;
}

.userpic{
  width: 40px;

}
.grid-container {
  display: grid;
  grid-template-columns: 10% 90%;
  padding: 10px;

}
@media only screen and (min-width: 900px) and (max-width: 1200px) {
  .grid-container {
    display: grid;
    padding: 10px;  
    grid-template-columns: 6% 94%;
  }
}

@media only screen and (min-width: 1200px) and (max-width: 2000px) {
  .grid-container {
    display: grid;
    padding: 10px;  
    grid-template-columns: 4% 96%;
  }
}
.grid-item {

  /* padding: 20px; */
  font-size: 15px;
  text-align: left;
}
.comment-content{
  margin-left: 20px;
}

.comment-title{
  margin-top: 80px;
}

.reply-content{
  margin-left: 40px;
}
@media only screen and (min-width: 500px) and (max-width: 1500px) {

  .reply-content{
    margin-left: 10px;
  }
}

.badge {
  background:  rgb(108 117 125)!important;
}
/* category */
.container{
  min-height: 86vh;
}
.footer-1{
  height: 15vh;
  list-style: none;
  background-color: #1b232b;
  padding: 25px 0 0 0;
}
.footer-2{
  background-color: #0c1013;
}
div.footer-2 ul{
  padding-right: 45px;

}
ul.text-light li a{
  color: white;
}
li.nav-item1 {
  color: white;
  padding: 8px 55vw 0 0;
}



.social-menu ul {
  position: absolute;
  /* top: 50%; */
  left: 80vw;
  /* bottom: 10px; */
  transform: translate(-50%, -50%);
  padding: 0;
  margin: 32px 0 0 20px;
  display: flex;
}
.ttl{
  position: absolute;

  font-size: 45px;
  padding-left: 55px;
}
.social-menu ul li {
  list-style: none;
  margin: 0 10px;
}
.social-menu ul li .fa {
  color: #000000;
  font-size: 25px;
  line-height: 50px;
  transition: .5s;
}
.social-menu ul li .fa:hover {
  color: #ffffff;
}
.social-menu ul li a {
  position: relative;
  display: block;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: white;
  text-align: center;
  transition: 0.5s;
  transform: translate(0,0px);
  box-shadow: 0px 7px 5px rgba(0, 0, 0, 0.5);
}
.social-menu ul li a:hover {
  transform: rotate(0deg) skew(0deg) translate(0, -10px);
}
.social-menu ul li:nth-child(1) a:hover {
  background-color: #3b5999;
}
.social-menu ul li:nth-child(2) a:hover {
  background-color: #55acee;
}
.social-menu ul li:nth-child(3) a:hover {
  background-color: #e4405f;
}
.social-menu ul li:nth-child(4) a:hover {
  background-color: #cd201f;
}
.social-menu ul li:nth-child(5) a:hover {
  background-color: #0077B5;
}


@media only screen and (max-width: 800px) {
  .ttl{
    padding-left: 20vw;
  }
  .footer-1 {
    height: 30vh;
   
}
  .social-menu ul {
    left: 0vw;
    padding: 0 0 0 88vw;
    margin: 108px 0 0 20px;
    display: flex;
  } 
  .social-menu ul li {
    list-style: none;
    margin: 0 3px;
  }
  .nav {
    display: inherit;
  }
    li.nav-item1 {
    padding: 10px 0vw 5px 15px;
  }
  .button-signup {
    margin: 1px 5px 1px 0px;
}
}
